<%- include('../partials/header') %>

	<main class="main">
		<div class="page-header text-center" style="background-image: url('assets/images/profile.jpg')">
			<div class="container">
				<h1 class="page-title">My Account<span>Shop</span></h1>
			</div><!-- End .container -->
		</div><!-- End .page-header -->
		

		<div class="page-content">
			<div class="dashboard">
				<div class="container">
					<div class="row">
						<aside class="col-md-4 col-lg-3">
							<ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
								<li class="nav-item">
									<br><br>
									<a class="nav-link active" id="tab-dashboard-link" data-toggle="tab"
										href="#tab-dashboard" role="tab" aria-controls="tab-dashboard"
										aria-selected="true">Dashboard</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/order_list"
										role="tab" >Orders</a>
								</li>
								<!-- <li class="nav-item">
									<a class="nav-link" id="tab-downloads-link" data-toggle="tab" href="#tab-downloads"
										role="tab" aria-controls="tab-downloads" aria-selected="false">Downloads</a>
								</li> -->
								<li class="nav-item">
									<a class="nav-link" href="/address_profile"
										role="tab">Addresses</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/wallet"
										role="tab">Wallet</a>
								</li>
								
								<li class="nav-item">
									<a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account"
										role="tab" aria-controls="tab-account" aria-selected="false">Account Details</a>
								</li>
								
								<li class="nav-item">
									<a class="nav-link" href="/logout">Sign Out</a>
								</li>
							</ul>
						</aside><!-- End .col-lg-3 -->

						<div class="col-md-8 col-lg-9">
							<div class="tab-content">



								<div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel"
									aria-labelledby="tab-dashboard-link">
									<br>
									<br>
									<br>
								<h5>Hello...<%= user.name %></h5>
									
										<%= user.email %>
											<br>

											<%= user.phone %>

												<!-- <p>Hello <span class="font-weight-normal text-dark">User</span> (not <span class="font-weight-normal text-dark">User</span>? <a href="#">Log out</a>) 
								    	<br>
								    	From your account dashboard you can view your <a href="#tab-orders" class="tab-trigger-link link-underline">recent orders</a>, manage your <a href="#tab-address" class="tab-trigger-link">shipping and billing addresses</a>, and <a href="#tab-account" class="tab-trigger-link">edit your password and account details</a>.</p> -->
								</div>

								

								<div class="tab-pane fade" id="tab-downloads" role="tabpanel"
									aria-labelledby="tab-downloads-link">
									<p>No downloads available yet.</p>
									<a href="category.html" class="btn btn-outline-primary-2"><span>GO SHOP</span><i
											class="icon-long-arrow-right"></i></a>
								</div><!-- .End .tab-pane -->

								

								<!-- <div class="accordion accordion-flush" id="accordionFlushExample"> -->
								
								<!-- -------------------------------------------------------------------------- -->

								<!-- <div class="accordion-item"> -->
									<div class="tab-pane fade" id="tab-account1" role="tabpanel"
										aria-labelledby="tab-account-link">
										<form action="/editaddress" method="post">
											<div class="row">
												<div class="col-sm-6">
													<label>First Name <span style="color: red;">*</span></label>
													<input type="text" class="form-control" required name="Name" value="<%=address.Name%>">
												</div><!-- End .col-sm-6 -->

												<div class="col-sm-6">
													<label>Last Name <span style="color: red;">*</span></label>
													<input type="text" class="form-control" required name="LastName" value="<%=address.LastName%>">
												</div><!-- End .col-sm-6 -->
											</div><!-- End .row -->

											<label>
												Address<span style="color: red;">*</span> </label>
											<input type="text" class="form-control" required name="address" value="<%=address.address%>">
											<!-- <small class="form-text">This will be how your name will be displayed in the account section and in reviews</small> -->
											<div class="row">
												<div class="col-sm-6">
													<label>State <span style="color: red;">*</span></label>
													<input type="text" class="form-control" required name="State" value="<%=address.State%>">
												</div><!-- End .col-sm-6 -->

												<div class="col-sm-6">
													<label>City<span style="color: red;">*</span></label>
													<input type="text" class="form-control" required name="city" value=" <%=address.city%>">
												</div><!-- End .col-sm-6 -->
											</div><!-- End .row -->
											<!-- <label>Email address *</label>
													<input type="email" class="form-control" required> -->

											<label>Zipcode<span style="color: red;">*</span></label>
											<input type="text" class="form-control" name="Zipcode" value="<%=address.Zipcode%>">

											<label>Phone<span style="color: red;">*</span></label>
											<input type="tel" class="form-control" name="phone" value="<%=address.phone%>">

											<label>LandMark</label>
											<input type="text" class="form-control mb-2" name="landmark" value="<%=address.landamark%>">

											<button type="submit" class="btn btn-outline-primary-2">
												<span>SAVE CHANGES</span>
												<i class="icon-long-arrow-right"></i>
											</button>
										</form>
									</div><!-- .End .tab-pane -->
								<!-- </div> -->


								<!-- ---------------------------------------------------------------------------- -->
								<!-- </div> -->
							</div>
						</div>


					</div>
				</div>
			</div><!-- End .col-lg-9 -->
		</div><!-- End .row -->
		</div><!-- End .container -->
		</div><!-- End .dashboard -->
		</div><!-- End .page-content -->
	</main><!-- End .main -->

	<%- include('../partials/footer') %>